.about-container {
  height: 100vh;
  /* : url("../../../images/about-section-bg.png"); */
  background-repeat: no-repeat;
  background-size: cover;
}

.banner h3 {
  color: #404655;
  font-weight: 600;
}


@-webkit-keyframes animborder {
  0% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
  100% {
    -webkit-transform: translateX(81px);
    transform: translateX(81px);
  }
}

@keyframes animborder {
  0% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
  100% {
    -webkit-transform: translateX(81px);
    transform: translateX(81px);
  }
}


